
{extend, "init.config"}.
{extend, "deps/build_config/base.config"}.

{deps, [
    {dh_date, ".*",
        {git, "https://github.com/nebularis/dh_date.git"}},
    {neotoma, ".*",
        {git, "https://github.com/seancribbs/neotoma.git"}},
    {semver, ".*",
        {git, "https://github.com/nebularis/semver.git"}},
    {annotations, ".*",
        {git, "https://github.com/hyperthunk/annotations.git"}},
    {delegate, ".*",
        {git, "https://github.com/hyperthunk/delegate.git"}}
]}.

{neotoma_opts, [
    {out_dir, "generated"},
    {module_ext, "_grammar"},
    {transform_module, ogql_ast_xform}
]}.

{erl_first_files, ["ogql_ast_xform"]}.
{erl_opts, [{src_dirs, ["src", "generated"]}]}.


{lib_dirs, ["deps", 
            "deps/annotations",
            "deps/annotations/ebin",
            "deps/delegate/ebin"]}.
{plugins, [build_plugin, rebar_plugin_manager, rebar_annotations_plugin]}.
{annotations, [
    {registered, [delegate]}
]}.
