
{extend, "build.config"}.
{extend, "deps/build_config/test.config"}.

{phases, [
    {'unittest', build, [eunit, 'smoke-test']}
]}.

{skip_dep_cmds, [unittest, 'smoke-test']}.

{eunit_compile_opts, [
    {d, 'DEBUG'},
    {src_dirs, ["src", "generated"]}
]}.

{plugins, [rebar_plugin_manager,
           rebar_annotations_plugin,
           build_plugin]}.

{annotations, [ {registered, [delegate]} ]}.

