
{extend, "build.config"}.
{extend, "deps/build_config/test.config"}.

{qc_opts, [long_result, {numtests, 500}]}.

{eunit_compile_opts, [{d, 'DEBUG'},{src_dirs, ["src", "generated"]}]}.

{plugins, [rebar_plugin_manager, rebar_annotations_plugin, build_plugin]}.
{annotations, [
    {registered, [delegate]}
]}.

